<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Backbone.js - TodoMVC</title>	
		<link rel="stylesheet" href="{{asset('bundles/todomvc/css/base.css')}}">
	</head>
	<body>
		<section id="todoapp">
			<header id="header">
				<h1>Todos</h1>
				<input id="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list">
				</ul>			
			</section>
			<footer id="footer"></footer>
		</section>		

		<script type="text/template" id="item-template">
			<div class="view">
				<input class="toggle" type="checkbox" <%= completed ? 'checked': '' %>>
				<label><%= title %></label>
				<button class="destroy"></button>
			</div>
			<input class="edit" value="<%= title %>">
		</script>
		<script type="text/template" id="stats-template">
			<span id="todo-count">
				<strong>
					<%= remaining %>
					<%= remaining > 1 ? 'items': 'item' %>
				</strong>
				left
			</span>
			<ul id="filters">
				<li>
					<a href="#/" class="selected">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<% if(completed) { %>
				<button id="clear-completed">Clear completed (<%= completed %>)</button>
			<% } %>
		</script>
		<script type="text/javascript" src="{{asset('bundles/todomvc/js/lib/jquery.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/todomvc/js/lib/underscore.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/todomvc/js/lib/backbone.js')}}"></script>		
		<script type="text/javascript" src="{{asset('bundles/todomvc/js/models/todo.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/todomvc/js/collections/todos.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/todomvc/js/views/todos.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/todomvc/js/views/app.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/todomvc/js/routers/router.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/todomvc/js/app.js')}}"></script>
	</body>
</html>